# --- Python 环境 ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
requirements.txt

# --- 操作系统/编辑器生成 ---
.DS_Store
.vscode/
.idea/
*.swp

# --- 自定义屏蔽的文件夹 ---
records/
slices/
_coro/
tts/
*.xlsx
*.txt
*.csv