# --- Python 环境 ---
__pycache__/
*.py[cod]
*$py.class
as_env/
.env
.venv
env/

# --- 操作系统/编辑器生成 ---
.DS_Store
.vscode/
.idea/
*.swp

# --- 自定义屏蔽的文件夹 ---
records/
excel_named_wavs/
*.xlsx
excel_named_wavs.zip
